{% extends "base/base.html" %}
{%load static%}
{% block content %}
{% for task in tasks %}
{{task.title}}
{%endfor%}

	<h1>Tasks</h1>
    
{%include "conn/examples/graph.html"%}
 <div id="container">
<form id="layoutForm" method="GET">
    <label for="layout">Choose layouts:</label>
    <select id="layout" name="layout" multiple="multiple" style="width: 100%;">
        {% for layout in layouts %}
        <option value="{{ layout.id }}">{{ layout.name }}</option>
        {% endfor %}
    </select>
    <button type="submit">Submit</button>
</form>

        <!-- Место для отображения выбранных вариантов -->
        <div id="results"></div>
    </div>





<!-- Место для отображения выбранных вариантов -->
<div id="results"></div>
<p align="right">
    <button id="increaseSize">Increase Size</button>
    <button id="decreaseSize">Decrease Size</button></p>




    <script src = "{%static 'js/tasks.js'%}"></script>
{% endblock %}
